{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="header--main-page">
<section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <h1>
            Profil użytkownika
          </h1>
        </div>
        <div class="slogan--item">
          <h1>
              <span class="description">
                  <div class="title">{{ user.first_name}}</div>
                  <div class="subtitle">
                    {{ user.last_name }}
                  </div>
                    <div class="subtitle">
                    {{ user.email }}
                  </div>
                </span>
          </h1>
            <ul class="help--buttons">
        <li data-id="1"><a href="{% url 'donation_list' %}" class="btn btn--without-border active">Moje dary</a></li>
      </ul>
        </div>
          </div>
</section>
    </header>
{% endblock content %}